parent  "base"
name    "en-gb-qwerty"
freerdp "KBD_UNITED_KINGDOM"

map -altgr -shift 0x29 0x02..0x0D      ~ "`1234567890-="
map -altgr -shift      0x10..0x1B      ~ "qwertyuiop[]"
map -altgr -shift      0x1E..0x28 0x2B ~ "asdfghjkl;'#"
map -altgr -shift 0x56 0x2C..0x35      ~ "\zxcvbnm,./"

map -altgr +shift 0x29 0x02..0x0D      ~ "¬!"£$%^&*()_+"
map -altgr +shift      0x10..0x1B      ~ "QWERTYUIOP{}"
map -altgr +shift      0x1E..0x28 0x2B ~ "ASDFGHJKL:@~"
map -altgr +shift 0x56 0x2C..0x35      ~ "|ZXCVBNM<>?"

# Keys requiring AltGr
#
map +altgr -shift 0x29 ~ "¦"
